<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <title>Update password</title>
    <link rel="stylesheet" th:href="@{/css/style_fe.css}">
</head>
<body>
<div class="main">
    <div th:replace="pages/fe/components/_inc_nav :: fe-nav" th:with="user"></div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="pages/fe/user/inc_sidebar :: fe-user-sidebar" th:with="user,totalCooperation"></div>
            <!-- Main content -->
            <div class="col-md-9">
                <h3>Update password</h3>
                <p class=" alert alert-success" th:if="${!messageSuccess.equals('')}" style="color: #2bc812;" th:text="${messageSuccess}"></p>
                <p class="alert alert-danger" th:if="${!messageError.equals('')}" th:text="${messageError}"></p>
                <p class="alert alert-danger" th:if="${error}" th:text="${error}"></p>
                <form th:action="@{/update-password}" method="POST" autocomplete="off" id="myForm">
                    <div class="mb-3 row">
                        <label for="oldPassword" class="col-sm-2 col-form-label">Password Old:</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="oldPassword" value="" name="oldPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newPassword" class="col-sm-2 col-form-label">Password New:</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="newPassword" value="" name="newPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password_confirm" class="col-sm-2 col-form-label">Password Confirm:</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password_confirm" value="" name="confirmPassword">
                        </div>
                    </div>
                    <div class="mb-3 row mt-4">
                        <label for="password_confirm" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-danger">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="pages/fe/components/_inc_footer :: fe-footer"></div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" >
    $(document).ready(function() {
        $("#myForm").validate({
            rules: {
                oldPassword: {
                    required: true,
                    minlength: 2
                },
                newPassword: {
                    required: true,
                    minlength: 2
                },
                confirmPassword: {
                    required: true,
                    minlength: 2,
                    equalTo: "#newPassword"
                }
            }
        });
    });
</script>
</body>
</html>
