<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="admin/layouts/head :: head"/>
<body class="sb-nav-fixed">
<div th:replace="admin/layouts/nav :: nav" />
<div id="layoutSidenav">
    <div th:replace="admin/layouts/sidebar :: sidebar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
                    <h2>Thêm mới Sản phẩm</h2>
                    <a href="/admin/product" class="btn btn-sm btn-danger">Trở lại</a>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="alert alert-danger w-100 mb-5" role="alert" th:if="${messageError != ''}" th:text="${messageError}"></p>

                                <form th:action="@{/admin/product/create}" method="POST" autocomplete="off" th:object="${data}" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label for="name">Tên</label>
                                            <input type="text" class="form-control" id="name"
                                                   aria-describedby="emailHelp" required placeholder="Tên sản phẩm" th:field="*{name}">
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label  class="mb-2">Resta</label>
                                            <select class="form-control" th:field="*{restaurant}" required>
                                                <option value="">Chọn nhà hàng</option>
                                                <option th:each="item : ${restaurants}"
                                                        th:if="${item != null && item.status == 'ACTIVE'}"
                                                        th:value="${item.id}"
                                                        th:text="${item.name}"
                                                ></option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label  class="mb-2">Danh mục</label>
                                            <select class="form-control" th:field="*{category}" required>
                                                <option value="">Chọn danh mục</option>
                                                <option th:each="item : ${categories}"
                                                        th:if="${item != null && item.status == 'ACTIVE'}"
                                                        th:value="${item.id}"
                                                        th:text="${item.name}"
                                                ></option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label  class="mb-2">Trạng thái</label>
                                            <select class="form-control" th:field="*{status}" required>
                                                <option value="">Chọn trạng thái</option>
                                                <option value="ACTIVE">Hiển thị</option>
                                                <option value="INACTIVE">ẨN</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label for="name">Image</label>
                                            <input name="file" type="file" accept="image/png, image/jpg, image/jpeg, image/webp" />
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label for="price">Giá</label>
                                            <input type="number" class="form-control" id="price"
                                                   aria-describedby="emailHelp" placeholder="Nhập giá" required th:field="*{price}">
                                        </div>
                                        <div class="form-group mb-4 col-md-6 col-12">
                                            <label for="quantity">Số lượng</label>
                                            <input type="number" class="form-control" id="quantity"
                                                   aria-describedby="emailHelp" required placeholder="Số lượng" th:field="*{quantity}">
                                        </div>
                                        <div class="form-group mb-4 col-12">
                                            <label for="name">Mô tả</label>
                                            <textarea type="text" class="form-control" id="description"
                                                      rows="3"
                                                      aria-describedby="emailHelp" placeholder="Mô tả" th:field="*{description}">
                                            </textarea>
                                        </div>
                                        <div class="form-group mb-4 col-12">
                                            <label for="name">Chi tiết</label>
                                            <textarea type="text" class="form-control" id="content"
                                                      rows="6"
                                                      aria-describedby="emailHelp" placeholder="Chi tiết" th:field="*{content}">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Lưu dữ liệu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="admin/layouts/footer :: footer"></div>
    </div>
</div>
<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
