<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="admin/layouts/head :: head"/>
<body class="sb-nav-fixed">
<div th:replace="admin/layouts/nav :: nav" />
<div id="layoutSidenav">
    <div th:replace="admin/layouts/sidebar :: sidebar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
                    <h2>Sản phẩm</h2>
                    <a href="/admin/product/create" class="btn btn-sm btn-primary">Thêm mới</a>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Quản lý Sản phẩm
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="text-nowrap">Hình ảnh</th>
                                    <th class="text-nowrap">Tên sản phẩm</th>
                                    <th>Nhà hàng</th>
                                    <th class="text-nowrap">Số lượng</th>
                                    <th class="text-nowrap">Giá</th>
                                    <th class="text-nowrap">Danh mục</th>
                                    <th class="text-nowrap">Trạng thái</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th class="text-nowrap">Hình ảnh</th>
                                    <th class="text-nowrap">Tên sản phẩm</th>
                                    <th>Nhà hàng</th>
                                    <th class="text-nowrap">Số lượng</th>
                                    <th class="text-nowrap">Giá</th>
                                    <th class="text-nowrap">Danh mục</th>
                                    <th class="text-nowrap">Trạng thái</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="item : ${lists}">
                                    <td th:text="${item.id}"></td>
                                    <td>
                                        <img th:src="@{'/images/'+${item.avatar}}" class="w-100-px h-auto"/>
                                    </td>
                                    <td th:text="${item.name}"></td>
                                    <td >
                                        <span th:if="${item.restaurant != null}" th:text="${item.restaurant.name}"></span>
                                    </td>
                                    <td th:text="${item.quantity}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td >
                                        <span th:if="${item.category != null}" th:text="${item.category.name}"></span>
                                    </td>
                                    <td >
                                        <p class="badge bg-success mb-0" th:if="${item.status == 'ACTIVE'}">
                                            Active
                                        </p>
                                        <p class="badge bg-danger mb-0" role="alert" th:if="${item.status != 'ACTIVE'}">Inactive</p>
                                    </td>


                                    <td>
                                        <div class="d-flex">
                                            <a th:href="@{/admin/product/edit/{id}(id=${item.id})}" class="btn btn-success btn-sm text-nowrap mx-2">Cập nhật</a>
                                            <a th:href="@{/admin/product/delete/{id}(id=${item.id})}"
                                               onclick="return confirm('Bạn có chắc chắn xoá dữ liệu không?')"
                                               class="btn btn-danger btn-sm mx-2">Xoá</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="admin/layouts/footer :: footer"></div>
    </div>
</div>
<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
