<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="admin/layouts/head :: head"/>
<body class="sb-nav-fixed">
<div th:replace="admin/layouts/nav :: nav" />
<div id="layoutSidenav">
    <div th:replace="admin/layouts/sidebar :: sidebar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
                    <h2 th:if="${type == 'RESTAURANT'}">Restaurant</h2>
                    <h2 th:if="${type == 'PARTNER'}">Partner</h2>
<!--                    <a href="/admin/restaurant/create" th:if="${type == 'RESTAURANT'}" class="btn btn-sm btn-primary">Add</a>-->
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                       <span th:text="${type == 'PARTNER' ? 'Manage Restaurant Partner' : 'Manage Restaurant'}"></span>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Avatar</th>
                                    <th>Restaurant Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Owner</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Avatar</th>
                                    <th>Restaurant Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Owner</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>

                                <tr th:each="item : ${lists}">
                                    <td th:text="${item.id}"></td>
                                    <td>
                                        <img th:if="${item.logo == null}" th:src="@{'/images/default.jpg'}" class="w-100-px h-auto"/>
                                        <img th:if="${item.logo != null}" th:src="@{'/images/'+${item.logo}}"  class="w-100-px h-auto"/>
                                    </td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.email}"></td>
                                    <td th:text="${item.phone}"></td>
                                    <td th:text="${item.address}"></td>
									<td th:text="${item.price}"></td>

                                    <th >
                                        <p th:if="${ item.discount != null }" th:text="${item.discount + '%'}"> </p>
                                    </th>
                                    <td >
                                        <span th:if="${item.user != null}" th:text="${item.user.name}"></span>
                                    </td>
                                    <td >
                                        <span th:if="${item.status == 'ACTIVE'}" class="badge text-success font-weight-bold" th:text="${item.status}"></span>
                                        <span th:if="${item.status == 'PENDING'}" class="badge text-info font-weight-bold" th:text="${item.status}"></span>
                                        <span th:if="${item.status == 'INACTIVE'}" class="badge text-warning font-weight-bold" th:text="${item.status}"></span>
                                        <span th:if="${item.status == 'REJECTED'}" class="badge text-danger font-weight-bold" th:text="${item.status}"></span>
                                    </td>
                                    <td>
                                        <a th:if="${type == 'PARTNER' && item.status == 'PENDING'}"  th:href="@{/admin/restaurant/approved/{id}(id=${item.id})}" class="btn btn-success mb-3 btn-sm">Approved</a>
                                        <a th:if="${type == 'PARTNER' && item.status == 'PENDING'}" th:href="@{/admin/restaurant/rejected/{id}(id=${item.id})}"
                                           onclick="return confirm('Do you want to reject this item?')" class="btn btn-danger btn-sm">Rejected</a>
                                        <a th:if="${type == 'RESTAURANT'}" th:href="@{/admin/restaurant/edit/{id}(id=${item.id})}" class="btn btn-success btn-sm">Edit</a>
<!--                                        <a th:if="${type == 'RESTAURANT'}" th:href="@{/admin/restaurant/edit/{id}(id=${item.id})}" class="btn btn- btn-sm">Delete</a>-->

<!--                                        <a th:href="@{/admin/restaurant/rejected/{id}(id=${item.id})}" onclick="return confirm('Do you want to reject this item?')" class="btn btn-danger btn-sm">Rejected</a>-->

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <div th:replace="admin/layouts/footer :: footer"></div>
    </div>
</div>
<div th:replace="admin/layouts/script :: script"></div>
</body>
</html>
