<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/style_fe.css}">
</head>
<body>
<div class="main">
    <div th:replace="pages/fe/components/_inc_nav :: fe-nav"></div>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Forgot Password</h2>
                <div th:if="${error}">
                    <p style="color: red;" th:text="${error}"></p>
                </div>
                <div th:if="${success}">
                    <p style="color: green;" th:text="${success}"></p>
                </div>
                <form class="needs-validation" th:action="@{/forgot-password}"  method="post" id="myForm">
                    <div class="mb-3">
                        <label for="registerEmail" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="registerEmail">
                        <div class="invalid-feedback">
                            Please enter your email.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                    <p class="mt-2">You don't have an account yet, <a href="/register.html">Register here</a></p>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="pages/fe/components/_inc_footer :: fe-footer"></div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" crossorigin="anonymous"></script>

<script th:src="@{/js/main.js}"></script>
<script type="text/javascript" >
    $(document).ready(function() {
        $("#myForm").validate({
            rules: {
                username: {
                    required: true,
                    // minlength: 2
                },
                password: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                username: {
                    required: "Please enter your username",
                    // minlength: "Your name must consist of at least 8 characters"
                },
                password: {
                    required: "Please enter your password",
                    minlength: "Password must consist of at least 8 characters"
                }
            }
        });
    });
</script>
</body>
</html>
