<div th:fragment="form-search" class="container my-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="/restaurant?page=1&page_size=10" class="mt-3">
        <div class="row">
            <div class="col-2">
                <select name="location_id" class="form-control" id="" >
                    <option th:selected="${location_id.equals('')}" value="">Location</option>
                    <option th:each="item : ${locations}"
                            th:if="${item != null}"
                            th:value="${item.id}"
                            th:selected="${location_id.equals(item.id + '')}"
                            th:text="${item.name}"
                    ></option>
                </select>
            </div>
            <div class="col-2">
                <select name="price_id" class="form-control" id="price_search">
                    <option value="" th:selected="${price_id.equals('')}">Price</option>
                    <option value="1" th:selected="${price_id.equals('1')}">Dưới 100</option>
                    <option value="2" th:selected="${price_id.equals('2')}">100 đến 250</option>
                    <option value="3" th:selected="${price_id.equals('3')}">250 đến 500</option>
                    <option value="4" th:selected="${price_id.equals('4')}">Trên 500</option>
                </select>
            </div>
            <div class="col-7">
                <input type="text" name="name" class="form-control" th:value="${name}" placeholder="Keyword ....." aria-label="Last name">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-danger">Search</button>
            </div>
        </div>
    </form>

</div>
